.header-text {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 30px;
}

.formWrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.formName {
    width: 50%;
    text-align: left;
    margin-bottom: 10px;
}

.forminr {
    width: 90%;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.btn {
    border: 2px solid #ccc;
    color: #ddd;
    background-color: #fff;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}