<div class="main-header text-center">
    <div class="header-inner">
        <h1>Contact Management</h1>
        <nav>
            <ul>
                <!-- <li>
                    <a routerLink="/contact-list">View Contacts</a>
                </li> -->
                <!-- <li>
                    <a routerLink="/add-contact">Add Contact</a>
                </li> -->
                <li>
                    <button mat-raised-button (click)="openAddContact()">Add Contact</button>
                </li>
            </ul>
        </nav>
    </div>
</div>
<div class="content-wrap">
    <router-outlet></router-outlet>
</div>