.mat-table {
    width: 100%;
}

.search-title {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.w-50 {
    width: 46%;
    padding: 10px;
}
.mat-form-field {
    width: 100%;
}